.accordion {
    margin: 40px 0;
}

.accordion {
    margin: 40px auto;
    display: flex;
    justify-content: center;
    width: 95%;
}

button.accordion-button {
    color: #ffffff;
    background-color: #1d2b64;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}

.accordion-item {
    background-color: #e1e0e042;
    border: 1px solid rgba(0, 0, 0, .125);
    width: 100%;
    /* display: flex; */
    /* flex-wrap: wrap; */
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #1d2b64;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}

.accordion-button:not(.collapsed)::after {
    background-image: url('../images/arrow-down-sign.png');
    transform: rotate(-180deg);
}

.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url('../images/arrow-down-sign.png');
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

button.accordion-button1 {
    background: #1d2b64;
    color: #fff;
    border: 2px solid #1d2b64;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    align-items: center;
    gap: 10px;
}

button.accordion-button1:hover {
    color: #1d2b64;
    background: transparent;
}


.row.row-cols-lg-auto.g-3.align-items-center {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px auto;
    gap: 10px;
    padding: 0px 0px 20px;
}

.row-cols-lg-auto select.form-select {
    padding: 16px 15px;
    display: flex;
    justify-content: flex-end;
    margin: 0px auto;
    height: 45px;
    text-indent: 0px;
    border: 2px solid #d6d4d4;
    display: block;
    background-color: rgb(255, 255, 255);
    color: rgb(26, 34, 41);
    font-size: 15px;
    /* font-weight: 400; */
    border-radius: 5px;
    letter-spacing: 0.5px;
    padding: 0px 10px;
    opacity: 1;
    transition: border-color 200ms ease 0s;
}

.row-cols-lg-auto label.form-label {
    font-size: 16px;
    font-weight: 600;
    padding: 13px 0px 15px;
    margin-bottom: 0rem;
}

.accordion-body {
    padding: 30px 0px 15px;
}

.speedy-btn {
    background: #1d2b64;
    color: #fff;
    border: 2px solid #1d2b64;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    align-items: center;
    gap: 10px;
    float: right;
}

.speedy-btn:hover {
    color: #1d2b64;
    background: transparent;
}

.accordion-item1 {
    background-color: #e1e0e042;
    border: 1px solid rgba(0, 0, 0, .125);
    width: 80%;
}

.accordion {
    margin: 40px auto;
    display: flex;
    justify-content: center;
    width: 95%;
    flex-wrap: wrap;
    gap: 20px;
}

div#collapseOne {
    padding: 20px 0px 0px;
}

div#sub-collapseOne {
    padding: 10px 10px;
}

div#sub-collapseTwo {
    padding: 10px 10px;
}

div#collapsetwo .accordion {
    width: 100%;
}

div#collapseOne {
    width: 100%;
    margin: 0;
}

div#collapseOne .accordion {
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}

div#collapseOne .accordion-body {
    padding: 0px 0px 10px;
}

div#sub-collapseOne .accordion-body {
    margin: 10px 0px 10px;
}

div#sub-collapseOne .speedy-btn {
    background: #1d2b64;
    color: #fff;
    border: 2px solid #1d2b64;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    align-items: center;
    gap: 10px;
    float: right;
}

div#sub-collapsetwo .speedy-btn {
    background: #1d2b64;
    color: #fff;
    border: 2px solid #1d2b64;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    align-items: center;
    gap: 10px;
    float: right;
}

div#sub-collapsethree .speedy-btn {
    background: #1d2b64;
    color: #fff;
    border: 2px solid #1d2b64;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    align-items: center;
    gap: 10px;
    float: right;
}

div#collapsetwo .accordion-body {
    padding: 0px 0px 0px;
}

div#collapsetwo button.accordion-button1 {
    background: #1d2b64;
    color: #fff;
    border: 2px solid #1d2b64;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    align-items: center;
    gap: 10px;
}

h2.sub-headingOne .accordion-button:not(.collapsed) {
    border: #fff;
    background: #fff;
    color: #1d2b64;
}

h2.sub-headingOne button.accordion-button {
    color: #ffffff;
    background-color: #fff;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}

h2.sub-headingOne .accordion-button:not(.collapsed)::after {
    background-image: url(../images/arrow-down.png);
    transform: rotate(-180deg);
}

h2.sub-headingOne .accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url(../images/arrow-down.png);
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

h2.sub-headingOne button.accordion-button {
    color: #1d2b64;
    background-color: #fff;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}

.speedy-div i {
    font-size: 20px;
    color: #dc3545;
}

.speedy-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    float: right;
    gap: 30px;
}

.speedy-wrapper .three-body {
    --uib-size: 32px;
    --uib-speed: 0.8s;
    --uib-color: #1d2b64;
    position: relative;
    display: inline-block;
    height: var(--uib-size);
    width: var(--uib-size);
    animation: spin78236 var(--uib-speed) infinite linear;
}


.speedy-wrapper .three-body__dot:nth-child(1) {
    bottom: 5%;
    left: 0;
    transform: rotate(60deg);
    transform-origin: 50% 85%;
}

.speedy-wrapper .three-body__dot:nth-child(1)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite ease-in-out;
    animation-delay: calc(var(--uib-speed)* -0.3);
}

.speedy-wrapper .three-body__dot:nth-child(2) {
    bottom: 5%;
    right: 0;
    transform: rotate(-60deg);
    transform-origin: 50% 85%;
}

.speedy-wrapper .three-body__dot:nth-child(3) {
    bottom: -5%;
    left: 0;
    transform: translateX(116.666%);
}

.speedy-wrapper {
    display: inline;
}

.ifYqM {
    overflow-y: scroll;
    height: 70vh;
}

.menus-div .accordion-item {
    padding: 10px 10px 10px;
}

.menus-div .accordion-body {
    padding: 0px 0px 0px;
}

.menus-div {
    padding: 15px 0px 0px;
}