*{
	/* padding: 0;
	margin: 0;
	text-decoration: none;
	list-style:none;
	box-shadow: border-box; */
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f8f9;
}
.page {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;

}

/*--------------header css start----------------*/
#wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
  position: relative;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    top: 0;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    transition: all 0.5s ease;
    border-block-end: 1px solid #e9edf4;
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.04);
    /* background: rgb(var(--menu-bg)); */
    border-inline-end: 2px solid #e9edf2;
}
/*nav.navbar.navbar-inverse {
    position: fixed;
    inset-inline-start: 20px;
    inset-inline-end: 0;
    left: 10%;
    top: 0;
    z-index: 999;
}*/
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}
.sidebar-brand {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 13px 15px;
    border-block-end: 2px solid #e9edf2;
}
.sidebar-brand h2 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}
.sidebar-brand img {
    
    width: 170px;
  
}

.form-control:focus {
    color: var(--color);
    background-color: var(--background);
    outline: 0;
    box-shadow: none;
    border: 1px solid rgba(25, 41, 64, 0.05) !important;
}
.sidebar-nav {
  position: absolute;
  top: 110px;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav > li {
  text-indent: 10px;
  line-height: 42px;
}
.sidebar-nav > li a {
    display: block;
    text-decoration: none;
    color: #757575;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.sidebar-nav > li > a:hover, .sidebar-nav > li.active > a {
    text-decoration: none;
    color: #34c39f;
}
.sidebar-nav > li > a i.fa {
    font-size: 20px;
    width: 50px;
}

#navbar-wrapper {
    width: 100%;
    position: absolute;
    z-index: 2;
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.04);
    border-block-end: 2px solid #e9edf4;
    font-family: 'Poppins', sans-serif;
}
#wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
}
#navbar-wrapper .navbar {
    border-width: 0 0 0 0;
    background-color: #fff;
    font-size: 40px;
    margin-bottom: 0;
    border-radius: 0;
}
#navbar-wrapper .navbar a {
  color: #757575;
  font-family: 'Poppins', sans-serif;
}
#navbar-wrapper .navbar a:hover {
  color: #F8BE12;
}
#navbar-wrapper .navbar a:hover {
    color: #19b714;
}/*
section#content-wrapper\ main-content\ side-content {
    padding-top: 70px;
}*/
#content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  top: 100px;
}
#wrapper.toggled #content-wrapper {
  position: absolute;
  margin-right: -250px;
}

.main-header-left {
    display: flex;
    align-items: center;
}


.main-header-right {
    display: flex;
    align-items: center;
}

.navbar {
    position: relative;
    display: flex;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
.navbar-nav-right {
    align-items: center;
}
.dropdown {
    display: block;
}
.main-header-right .nav-link.icon {
    color: var(--color);
}
.nav-link.icon {
    margin: 5px;
    padding: 0px 12px;
    text-align: center;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 19px;
    position: relative;
    border-radius: 50%;
}
.icon i {
    vertical-align: -1px;
}
.header-search .dropdown-menu {
    inset-block-start: 50px;
}
.header-search .dropdown-menu {
    width: 300px;
    position: absolute;
    inset-block-start: 50px;
    inset-inline-start: auto;
    inset-inline-end: -10px;
    inset-block-end: auto;
    padding: 0;
    border-color: var(--border);
    border-width: 1px;
    box-shadow: 0 8px 16px 0 rgba(162, 169, 204, 0.24);
}
.main-form-search .form-control {
    border-color: var(--border);
    border-width: 1px;
    background-color: var(--white);
    transition: none;
    height: 20px;
    width: 90%;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.main-form-search .btn, .main-form-search .sp-container button, .sp-container .main-form-search button {
    position: absolute;
    inset-block-start: 4px;
    inset-inline-end: 5px;
    background-color: transparent;
    height: 40px;
    color: #b4bdce;
    transition: none;
    font-size: 16px;
    padding-inline-end: 13px;
}
.leading-none {
    line-height: 1 !important;
}
.brround {
    border-radius: 50%;
}
.cover-image {
    background-size: cover !important;
}
.avatar {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    display: inline-block;
    position: relative;
    text-align: center;
    color: #fff;
    font-weight: 500;
    vertical-align: bottom;
    font-size: 0.875rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.5rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-menu {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    min-width: 12rem;
}
.float-end {
    float: right!important;
}


.dropdown-icon {
    color: #9aa0ac;
    margin-inline-end: 0.5rem;
    margin-inline-start: -0.5rem;
    width: 1em;
    display: inline-block;
    text-align: center;
    vertical-align: -1px;
}
.drop-heading {
    padding: 1rem 1rem;
}
.dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-block-start: 1px solid var(--border);
}
.main-header-right .nav-link.icon {
    color: var(--color);
}
.nav-link.icon {
    margin: 5px;
    padding: 10px 12px;
    text-align: center;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 19px;
    position: relative;
    border-radius: 50%;
}
.dropdown-menu.show {
    display: block;
    margin: 0;
    border: 1px solid #e9edf4!important;
}
.drop-heading {
    padding: 1rem 1rem;
}
.side-header .header-search .dropdown-menu {
    inset-block-start: 50px;
}
.main-form-search .btn, .main-form-search .sp-container button, .sp-container .main-form-search button {
    position: absolute;
    inset-block-start: 4px;
    inset-inline-end: 5px;
    background-color: transparent;
    height: 40px;
    color: #b4bdce;
    transition: none;
    font-size: 16px;
    padding-inline-end: 13px;
}
.main-form-search .form-control {
    border-color: #e9edf4;
    border-width: 1px;
    background-color: #fff;
    transition: none;
    height: 37px;
    width: 100%;
}
.dropdown-menu.show{
    
    position: absolute;
    inset-block-start: 50px;
    inset-inline-start: auto;
    inset-inline-end: -10px;
    inset-block-end: auto;
    padding: 0;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    width: 100%;
}
h2.display-4.mb-3 {
    font-size: 40px;
    line-height: 30px;
    font-weight: 600;
}
h2.display-4.mb-3 span.font-w-4.d-block {
    font-weight: 400;
}
p.lead {
    margin-top: 20px;
    margin-bottom: 20px;
}
.card {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card-body {
    display: flex;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
}

/*----------header contentcss start------------*/
.page-header {
    margin: 30px 0px 1.5rem 0px;
}
.page-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin: 30px 0px 1.5rem 0px;
    -ms-flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    position: relative;
    min-height: 50px;
    background: none;
    box-shadow: none;
}
.page-header .breadcrumb {
    font-size: 16px;
    padding-inline-start: 0 !important;
}
li.breadcrumb-item a {
    text-decoration: none;
}
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    margin-block-end: 0;
    list-style: none;
    border-radius: 3px;
    position: relative;
    inset-inline-end: 0;
    padding: 0;
    color: #fff;
    background: none;
}
.breadcrumb-item a {
    color: #334151;
}
h3.mb-0.breadcrump-tittle {
    color:#000;
    font-weight: 600;
    font-size: 21px;
}
a.btn.btn-white.button-icon.me-3.mt-1.mb-1 span {
    font-size: 15px;
    font-weight: 500;
}
.button-icon i {
    margin-inline: 8px;
}
.btn-white {
    color: #334151;
    background-color: #fff;
    border-color: #e9edf4;
}
.banner {
    background: rgba(0, 111, 255, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    margin: 1.5rem 0;
    padding: 10px 15px;
    border: 1px solid rgba(0, 111, 255, 0.12);
}
a.btn.btn-white.button-icon.me-3.mt-1.mb-1 {
    padding: 6px 20px 6px 15px;
}
.page-content {
    margin: 0.75rem 0;
}

a.btn.btn-primary.button-icon.me-3.mt-1.mb-1 {
    color: #fff !important;
    background: #556ee7 !important;
    border-color:#556ee7;
    box-shadow: 0 5px 10px rgba(237, 49, 76, 0.17);
}
.btn-success {
    color: #fff !important;
    background: #34c39f!important;
    border-color:#34c39f;
    box-shadow: 0 5px 10px rgba(59, 208, 152, 0.17);
}

a.btn.btn-white.button-icon.me-3.mt-1.mb-1 {
    padding: 5px 20px 5px 19px;
   
}
.image {
    position: relative;
    width: 100%;
}
.nav.nav-item.header-icons.navbar-nav-right {
    align-items: center;
}

span.font-weight-bold.text-primary {
    color: #15a782 !important;
}


.img-fluid {
    max-width: 100%;
    height: auto;
    width: 100%;
}
h2.display-4.mb-3 {
    font-size: 40px;
    line-height: 35px;
    font-weight: 600;
    display: grid;
}
h2.display-4.mb-3 span.font-w-4.d-block {
    font-weight: 400;
}
p.lead {
    margin-top: 20px;
    margin-bottom: 20px;
}
.card {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card-body {
    display: flex;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
   
}

.card-header.custom-header {
    background: #fff;
}

span.span-text {
    font-size: 20px;
    text-align: left;
    font-weight: 500;
}
a.btn.btn-sm.btn-primary.text-center {
    display: flex;
    justify-content: center;
    margin: 0px auto;
    align-items: center;
    padding: 20px 20px 5px 10px;
    background: #31b896;
    border-color: #30b392;
    transition: 350ms ease-in-out;
    font-weight: 700;
}
a.btn.btn-sm.btn-primary.text-center:hover {
    color: #2f2f41;
    background-color: rgba(1, 164, 121, 0.1);
    border-color: #31b896;
    box-shadow: none;
}

a.btn.btn-sm.btn-primary.text-center .d-inline-block.text-center  small{
    font-weight: 700;
    font-size: 15px;
}
/*----------header contentcss end---------------*/
@media (min-width: 998px) {
    .dropdown {
    position: initial;
}
.side-content {
    margin-inline-start: 265px;
}
    .navbar-expand-lg.responsive-navbar .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    background: transparent;
}
  #wrapper {
    padding-left: 250px;
  }
  
  #wrapper.toggled {
    padding-left: 60px;
  }

  #sidebar-wrapper {
    width: 250px;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    width: 60px;
  }
  
  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -190px;
}
  
  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -190px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 60px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 60px;
  }

}


@media  (max-width: 998px){
 /*   #sidebar-wrapper {
    position: fixed !important;
    visibility: visible;
    top: 0;
}*/
    .modal-dialog {
    max-width: 95%;
}
    nav.navbar.navbar-inverse {
    position: fixed;
    inset-inline-start: 0;
    inset-inline-end: 0;
    left: 60px;
    top: 0;
    z-index: 999;
}
.main-content.side-content {
    margin-inline-start: 265px;
}
section#content-wrapper\ main-content\ side-content {
    padding-top: 70px;
}
.box-2 {
    max-width:unset  !important;
    padding: 20px 40px !important;
}
    .responsive-navbar.navbar {
    position: relative !important;
    display: -ms-flexbox;
    display: flex;
    inset-block-start: 72px;
    margin: 0;
    margin-block-end: 0 !important;
    padding: 0;
}
.responsive-navbar.navbar .navbar-collapse {
    width: 100%;
    background: #fff;
    margin-block-start: 0;
    z-index: 999;
    inset-block-start: 55px;
    border-block-end: 1px solid #e9edf4;
    border-block-start: 1px solid #e9edf4;
    position: fixed;
    inset-inline-start: 0;
    inset-inline-end: 0;
    left: 60px;
}
}
@media (max-width: 768px){
    nav.navbar.navbar-inverse {
    position: fixed;
    inset-inline-start: 0;
    inset-inline-end: 0;
    /* left: 60px; */
    top: 0;
    z-index: 999;
}
  #wrapper {
    padding-left: 60px;
  }
 .card-body {
    display: block;
    width: 100%;
}
  #sidebar-wrapper {
    width: 60px;
  }
  
#wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
}
  
  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 250px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 250px;
  }
}

@media (max-width: 767px) {
  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 250px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 250px;
  }
}